body{

    background-image: url(backgroundsponge.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
    font-family: 'Catamaran', sans-serif;
    font-size: 30px;
}

.wall {
    background-image: url(kelp\ forest.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.space{
    background-image: url(spongebob\ sand.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
} 

.start {
    background-image: url(spongebob\ sand.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.finished {
    
    background-image: url(conch.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

 .row{
    display: flex;
    justify-content: center;
}

#player {
    background-repeat: no-repeat;
    background-size: cover;
}


